/* Base Styles */
.card-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.about {
    position: relative;
    text-align: left;
    color: var(--black);
    background-color: var(--white);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
}

.about-text h1 {
    padding-top: 130px;
    padding-bottom: 0;
    text-align: center;
    color: var(--green);
}

.about-text p {
    font-size: 1.4em;
    color: black;
}

.about-image {
    flex: 0 0 50%;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.about-image img {
    object-fit: cover;
}

.about-text {
    flex: 0 0 40%;
    text-align: center; /* Centering text */
}

.about2 {
    position: relative;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: var(--green);
    height: fit-content;
}

.about2-title {
    flex: 0 0 40%;
    text-align: left;
}

.about2-title h1 {
    color: var(--white);
    font-size: 2.5em;
}

.about-register-button {
    font-size: 2em;
    border: none;
    border-radius: 15px;
    margin-top: 1em;
    width: min-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.5em 1em;
    background-color: var(--green);
    color: var(--white);
    text-decoration: none;
    margin-bottom: 50px;
}

.about2-text {
    text-align: justify;
    padding: 40px;
    width: 90%;
}

.about2-text p {
    color: var(--white);
    font-size: 1.4em;
}

.join-us {
    color: var(--green);
    font-size: 10;
    text-align: center;
}

.join-us h1 {
    padding-bottom: 0px;
}

.join-us p {
    width: 90%;
    color: black;
    font-size: 1.4em;
}

/* Mobile Styles */
@media (max-width: 600px) {
    .about-text h1 {
        font-size: 1.2rem;
        padding-top: 20px;
        text-align: center;
    }

    .about-text p {
        font-size: 1rem;
        text-align: center;
    }

    .white h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .about2 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-bottom: 140px;
        text-align: center;
    }

    .about2-title {
        flex: 1;
        text-align: center;
    }

    .about2-title h1 {
        font-size: 1.8rem;
    }

    .about-register-button {
        font-size: 1rem;
        padding: 0.5em;
        width: 80%;
    }

    .about2-text p {
        padding-top: 0;
        margin-top: 0;
        font-size: 1rem;
        text-align: center;
    }

    .join-us {
        background-color: var(--white);
        padding: 20px;
        text-align: center;
    }

    .join-us h1 {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }

    .join-us p {
        font-size: 1rem;
        text-align: center;
    }

    .about {
        flex-direction: column;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .about-image {
        display: none;
    }

    .about-text {
        flex: 1;
        padding: 20px;
        text-align: center;
    }

    .heading-image img {
        height: auto;
        max-height: 100vh;
        width: 100%;
    }
    
    div {
        box-sizing: border-box;
    }
}
