.about p {
    font-size: 1.4em;
}

.about {
    position: relative;
    text-align: left;
    color: var(--black);
    background-color: var(--white);
    width: 100% !important;
    height: 600px !important;
    display: flex;
    flex-direction: row-reverse;
}

.about-text h1 {
    padding-top: 130px;
    padding-bottom: 0;
    text-align: center;
    color: var(--green);
}

.about-text p {
    font-size: 1.4em;
    color: black;
}

.about-image {
    flex: 0 0 50%;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 30px;

}

.about-image img {
    object-fit: cover;
}

.about-text {
    flex: 0 0 40%;
}

.about2 {
    position: relative;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: var(--green);
}

.about2-title {
    flex: 0 0 40%;
    display: left;
}

.about2-title h1 {
    color: var(--white);
    font-size: 2.5em;
}

.about-register-button {
    font-size: 2em;
    border: none;
    border-radius: 15px;
    margin-top: 1em;
    width: min-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--green);
    color: var(--white);
    text-decoration: none;
}

.about2-text {
    text-align: justify;
    padding: 40px;
    width: 90%;
}

.about2-text p {
    color: var(--white);
    font-size: 1.4em;
}

.join-us {
    color: var(--green);
    font-size: 10;
    text-align: center;
}

.join-us h1 {
    padding-bottom: 0px;

}

.join-us p {
    width: 90%;
    color: black;
    font-size: 1.4em;
}

@media (max-width: 600px) {

    .about-text h1 {
        position: relative;
        font-size: 1rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .white h1 {
        font-size: 1.5rem;
    }

    .about2 {
        flex-direction: column;
        align-items: center;
    }

    .about2-title {
        flex: 1;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .about2-title h1 {
        font-size: 1.5em;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .about-register-button {
        font-size: 1rem;
        padding: 0.5em;
        width: 60%;
    }

    .about2-text p {
        padding-top: 0;
        margin-top: 0;
        font-size: 1rem;
    }

    .join-us h1 {
        font-size: 1em;
    }

    .join-us p {
        font-size: 1rem;
    }

    .about {
        position: relative;
        color: var(--black);
        background-color: var(--white);
        width: 100% !important;
        height: 400px !important;
        display: inline-block;
    }

    .about-image {
        display: none;
    }
}
