
.about p {
    font-size: 1.4em;
}

.about {
    position: relative;
    text-align: left;
    color: var(--black);
    background-color: var(--white);
    display: flex;
    flex-direction: row-reverse;
}

.about-text h1{
    padding-top: 130px;
    padding-left: 0;
    padding-bottom: 0;
    text-align: left;
    color: var(--green);
}

.about-text p {
    font-size: 1.4em;
    color: black;
}

.about-image {
    flex: 0 0 50%;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 30px;

}

.about-image img {
    object-fit: cover;
}
  
.about-text {
    flex: 0 0 40%;
}
  
.about2 {
    position: relative;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: var(--green);
}
  
.about2-title {
    flex: 0 0 40%;
    display: left;
}
  
.about2-title h1 {
    color: var(--white);
    font-size: 2.5em;
}
  
.about2-text {
    text-align: justify;
    padding: 40px;
}
  
.about2-text p {
    color: var(--white);
    font-size: 1.4em;
}
  
.join-us {
    color: var(--green);
    font-size: 10;
    text-align: center;
    padding-bottom: 50px;
}

.join-us h1 {
    padding-bottom: 0px;
}

.join-us p{
    color: black;
    font-size: 1.4em;
}