:root {
  --white: #ffff;
  --black: #0000;
  --green: #064D42;
  --gray: #717171;
  --lightGray: #D9E5E3;
  --tableHeader: #292626;
  --tableBody: #1a1a1d;
}

p {
  color: var(--black);
}

div {
  margin: 0;
  width: 100%;
}

nav {
  z-index: 999;
  background: transparent;
  position: relative;
  width: 100%;
}

a.active {
  font-weight: bold;
  background-color: transparent;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  background-color: transparent;
}

nav ul li { /* All nav elements */
  padding-top: 25px;
  padding-left: 0px;
  font-size: 1.5em;
}

.unpadded {
  padding-top: 15px;
}

nav ul li:last-child {
   /* Put last nav item on right */
  margin-right: 20px;
}
nav ul li:nth-last-child(2) {
  margin-left: auto; /* Put last nav item on right */
}
nav li a {    
  display: block;
  color: var(--white);
  padding: 14px 16px;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 600px) {
  /* Navbar */
  nav a {
    font-size: 16px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li {
    width: auto; 
    padding: 10px;  
  }

  .welcome {
    flex-direction: column;
    text-align: center;
  }
  
  .logo {
    height: 50px;
    width: auto;
  } 

  .title {
    position: absolute;
    transform: translate(0, -130%);
    color: white;
  }
  
  .title h1 {
    font-size: 1.3em;
    font-weight: normal;
    text-align: left;
  }
  
  .title b {
    font-size: 1.3em;
  }

  .home-login-button {
    width: 50%;
    font-size: 1.3em;
  }

  .register-button {
    width: 50%;
    font-size: 1.3em;
  }

  .discover-button {
    width: 50%;
    font-size: 1.5em;
  }

  .projects p {
    font-size: 1em;
  }

  .explore-button {
    width: 50%;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
  }

  /* About Page */
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    flex: 1;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .about-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .about-text {
    flex: 1;
    padding: 10px;
    margin-top: 0;
    font-size: 1em;
  }

  .about-text h1 {
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
  }

  .about2 {
    flex-direction: column;
    padding: 0;
    text-align: center;
    height: 300px;
  }

  .about2-title {
    flex: 1;
    text-align: center;
    height: 300px;
    margin-top: 10px;
  }

  .about2-title h1 {
    font-size: 2em;
    margin-bottom: 0;
  }

  .about2-text {
    padding: 10px;
  }

  .about2-text p {
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }

  .about-register-button{
    font-size: 1.4em;
    padding: 10px;
    width: 50%;
  }

  h1, h2, h3, h4 {
    margin: 10px;
    padding: 5px;
  }

  p {
    font-size: 16px;
  }
}

.logo {
  height: 80px;
  width: auto;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  padding: 30px;
  font-family: "Lato", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: var(--green);
}

.title-text {
  position: absolute;
  transform: translate(0, -130%);
  color: var(--white);
}

.title-text h1 {
  font-weight: normal;
  text-align: left;
}

.title-text b {
  font-size: 1.3em;
}

.image-placeholder {
  height: 90vh;
}

.center {
  margin-top: 30px;
  text-align: center;
}

section {
  background-color: var(--white);
  margin: 0;
  padding-bottom: 50px;
}

.imgColumn {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 5px;
}

.imgColumn .image {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  border: 1px solid #ccc;
}

.imgColumn:hover .image {
  opacity: 0.3;
}

.imgColumn:hover .middle {
  opacity: 1;
}

.cards {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 80%;
  margin: auto;
}

.card {
  font-size: 1em;
  border-radius: 15px;
  background-color: var(--green);
  color: var(--white);
  width: 100%;
}

.card-img {
  object-fit: cover;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
    width: 60%;
    margin: auto;

  }

  .card-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
  }
}

.pop {
  position:absolute;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  margin: auto;
  z-index: 1000;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  background-color: var(--green);
  border-radius: 15px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pop-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop h2 {
  color: var(--white);
  text-align: center;
  flex-grow: 1;
}

.pop-button {  
  font-size: 2em;
  background-color: transparent;
  border: solid 1px;
  border-radius: 15px;
  margin-bottom: 0.5em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--green);
  background-color: var(--white);
  text-decoration: none;
  margin: 0;
  width: 200px;
}

h4 {
  font-size: 1.5em;
  color: var(--white);
}

table {
  background-color: var(--lightBlack);
  color: var(--white);
  border: 1px solid var(--white);
  border-collapse: collapse;
  left: 0; 
  right: 0; 
  margin-inline: auto; 

}

.pop button {
  left: 0; 
  right: 0; 
  overflow: hidden;

}

.pop img {
  object-fit: cover;
  height: 200px;
  width: auto;
  left: 0; 
  right: 0; 
  margin: auto;
}

.exit-button {
  color: var(--white);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin-top: -2.5rem;
}

.transparent {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.pop h4 {
  text-align: center;
  margin-bottom: 0px;
}

.pop-info p {
  margin-top: 5px;
  text-align: center;
  color: var(--white);
  left: 0; 
  right: 0; 
  margin-inline: auto; 
}

th {
  background-color: var(--tableHeader);

  border: 1px solid var(--white);

}

td {
  background-color: var(--tableBody);
  border: 1px solid var(--white);
}

.card:hover {
  cursor:pointer
}

.card p {
  color: var(--white);
  margin-top: 5px;
  padding-bottom: 1em;
}

.card img {
  width: 90%;
  margin: 5%;
  height: 200px;
}

.strip {
  position: relative;
  margin-bottom: 100px;
}

.button {
  border: none
}

button:hover {
    cursor: pointer;
}

.heading {
  position: absolute;
  top: 0;
  text-align: center;
  color: var(--white);
  font-size: 1.5em;
}

.heading img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.bg {
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  color: var(--black);
  background-color: var(--white);
}

.white {
  padding-top: 30px;
  position: relative;
  color: var(--black);
  background-color: var(--white);
}

.white h1 {
  color: var(--green);
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 50%;
  margin: auto;
}

.black {
  color: var(--black);
}

label {
  text-align: left;
}

.split-right {
  width: 40%;
  border-style: none;
  border-radius: 15px;
  float: right;
  height: fit-content;
}

.servings-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.serving-select {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  padding-right: 30px;
  padding-bottom: 15px;
}

.serving-select li {
  border-style: solid;
  border-width: 1px;
  border-color: var(--white);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  list-style-type: none;
  float: right;
}

.bg h1 {
  color: var(--green);
  padding-top: 0;
  width: 50%;
  margin: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

.meal {
  position: absolute;
  background-color: var(--white);
  height: 100vh;
  z-index: 5;
}

.container {
  position: relative;
  display: center;
  text-align: center;
}

.container h1{
  color: var(--green);
  margin: 0;
  padding: 10px;
}

.container h3{
  margin-left: 0;
  padding-left: 0;

}

.container button {
  width: 20%;
  margin: auto;
  display: block;
  background-color: var(--green);
  color: var(--white);
}

.container p {
  font-size: 20px;
}

@media (max-width: 600px) {
  nav li a {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav li {
    width: auto; 
  }

  h1, h2, h3, h4 {
    margin: 10px;
    padding: 5px;
  }

  p {
    font-size: 16px;
  }  
  
  footer {
    padding: 10px;
  }

  footer a {
    font-size: 0.9em;
  }
}