:root {
  --white: #ffff;
  --black: #0000;
  --green: #064D42;
  --gray: #717171;
  --lightGray: #D9E5E3;
  --tableHeader: #292626;
  --tableBody: #1a1a1d;
}

a.active {
  text-decoration: underline;
}

p {
  color: var(--black);
}

div {
  margin: 0;
  width: 100%;
}

nav {
  z-index: 999;
  background: transparent;
  position: relative;
  width: 100%;
}

a.active {
  font-weight: bold;
  background-color: transparent;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  background-color: transparent;
}

nav ul li { /* All nav elements */
  padding-top: 25px;
  padding-left: 0px;
  font-size: 1.5em;
}

.unpadded {
  padding-top: 15px;
}

nav ul li:last-child {
  margin-left: auto; /* Put last nav item on right */
  margin-right: 20px;
}

nav li a {    
  display: block;
  color: var(--white);
  padding: 14px 16px;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column; /* Stack items */
    align-items: center;
  }

  nav li {
    width: 100%;
  }
}

.logo {
  height: 80px;
  width: auto;
}

footer {
  position: absolute;
  background-color: var(--lightGray);
  width: 100%;
}

footer p {    
  color: var(--white);
}

h1 {
  font-size: 2.5em;
  text-align: center;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: var(--green);
}

.title-text {
  position: absolute;
  transform: translate(0, -130%);
  color: var(--white);
}

.title-text h1 {
  font-weight: normal;
  text-align: left;
}

.title-text b {
  font-size: 1.3em;
}

.about-register-button {
  font-size: 2em;
  border: none;
  border-radius: 15px;
  margin-top: 1em;
  width: min-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
}

.image-placeholder {
  height: 90vh;
}

.cart-button {  
  font-size: 1.5em;
  display: block;
  float: left;
  border: none;
  border-radius: 15px;
  margin-bottom: 0.5em;
  padding: 0.2em;
  margin-left: 30px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
}

.center {
  margin-top: 30px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  /*background-color: #717171;*/
}

section {
  background-color: var(--white);
  margin: 0;
  padding-bottom: 50px;
}

.imgColumn {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 5px;
}

.imgColumn .image {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  border: 1px solid #ccc;
}

.imgColumn:hover .image {
  opacity: 0.3;
}

.imgColumn:hover .middle {
  opacity: 1;
}

  .cards {
    position: relative; 
    display: grid;
    text-align:center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 100px;
    margin: auto;
    width: 80%;
  }

.card {
  position: relative;
  font-size: 1em;
  border-radius: 15px;
  background-color: var(--green);
  color: var(--white);
  width: auto;
}

.pop {
  position:fixed;
  transform: translate(0, -100%);
  width: 600px;
  height: fit-content;
  margin: auto;
  z-index: 1000;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  background-color: var(--green);
  border-radius: 15px;
  padding-bottom: 50px;
  text-align: center;
  overflow: hidden;
}

.spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop h2 {
  color: var(--white);
}

.pop-button {  
  font-size: 2em;
  background-color: transparent;
  display: block;
  float: left;
  border: solid 1px;
  border-radius: 15px;
  margin-bottom: 0.5em;
  display: block;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--green);
  background-color: var(--white);
  text-decoration: none;
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 200px;
}

h4 {
  font-size: 1.5em;
  color: var(--white);
}

table {
  background-color: var(--lightBlack);
  color: var(--white);
  border: 1px solid var(--white);
  border-collapse: collapse;
  left: 0; 
  right: 0; 
  margin-inline: auto; 

}

.pop button {
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  overflow: hidden;

}

.pop img {
  object-fit: cover;
  height: 200px;
  width: auto;
  left: 0; 
  right: 0; 
  margin: auto;
}

.exit-button {
  color: var(--white);
  background-color: var(--green);
  border: none;
  float: right;
  overflow: hidden;
}

.transparent {
  opacity: 0.5;
  pointer-events: none; /* Prevent interaction with the cards when pop-up is open */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.pop h4 {
  text-align: center;
  margin-bottom: 0px;
}

.pop-info p {
  margin-top: 5px;
  text-align: center;
  color: var(--white);
  left: 0; 
  right: 0; 
  margin-inline: auto; 
}

th {
  background-color: var(--tableHeader);

  border: 1px solid var(--white);

}

td {
  background-color: var(--tableBody);
  border: 1px solid var(--white);
}

.card:hover {
  cursor:pointer
}

.card p {
  color: var(--white);
  margin-top: 5px;
  padding-bottom: 1em;
}

.card img {
  width: 90%;
  margin: 5%;
}

.strip {
  position: relative;
  margin-bottom: 100px;
}

.button {
  border: none
}

button:hover {
    cursor: pointer;
}

.about-text p {
  font-size: 18px;
  line-height: 1.6;
}

.heading {
  position: absolute;
  top: 0;
  text-align: center;
  color: var(--white);
  font-size: 1.5em;
}

.heading img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
}

/* Order page */
.order {
  padding-top: 30px;
  padding-bottom: 150px;
  position: relative;
  color: var(--black);
  background-color: var(--white);
}

.order-meal-kit {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  position: relative;
  height: auto;
  width: 100%;
  align-items: center;
  
}

.order-meal-kit p {
  color: var(--black); 
}

.black {
  color: var(--black);
}


.order-meal-kit h1{
  margin-bottom: 0;
  padding-bottom: 10px;
  color: var(--green);
}
.order-meal-kit h2{
  font-size: 2em;
  color: var(--white);
}


label {
  text-align: left;
}

.meal-kit-info-left h3 {
  text-align: left;
  font-size: 1.5em;
  color: var(--white);
  padding-left: 50px;
}

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.footer {
  display: flex !important;
  height:auto;
  align-items: flex-end;
}

.footer_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20% !important;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

.footer img {
  margin-top: auto;
  margin-bottom: auto;
  width: 120px;
}
.footer h3 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  font-weight: 500;
}

.footer ul {
  line-height: 150%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 100px;
  list-style-type: none;
}

.footer a {
  font-weight: lighter;
}

footer p {
  width: 150px;
  font-size: 15px !important;
  color: black;
  padding: 0;

}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.meal-kit-info-left label  {
  text-align: left;
}

.order-meal-kit p {
  color: var(--white);
  margin-top: 0;
  font-size: 22px;
}

.left p {
  text-align: left;
}

.right p {
  text-align: left;
}


.meal-kit-info {
  z-index: 10;
  position: relative;
  text-align: center;
  color: var(--white);
  background-color: var(--green);
  margin: 30px auto 50px auto;
  width: 70%;
  border-style: none;
  border-radius: 15px;
}

.meal-kit-info-left {
  z-index: 10;
  text-align: center;
  color: var(--white);
  background-color: var(--green);
  margin: 30px 60px 50px 40px;
  width: 40%;
  border-style: none;
  border-radius: 15px;
  float: left;
  height: fit-content;
}

.split-right {
  width: 40%;
  border-style: none;
  border-radius: 15px;
  float: right;
  height: fit-content;
}

.meal-kit-info-right {
  z-index: 10;
  position: relative;
  text-align: left;
  color: var(--white);
  background-color: var(--green);
  margin: 30px 60px 10px 40px;
  width: 100%;
  border-style: none;
  border-radius: 15px;
  float: right;
  height: fit-content;
}

.servings-container {
  display: flex;
  justify-content: space-between; /* Push elements to opposite sides */
  align-items: center;
}

.serving-select {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* To align li elements horizontally */
  padding-right: 30px;
  padding-bottom: 15px;
}


.serving-select li {
  border-style: solid;
  border-width: 1px;
  border-color: var(--white);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  list-style-type: none;
  float: right;
}

.split-right p {
  padding-left: 50px;
}

.meal-kit-info .left {
  width: 30%;
}

.meal-kit-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between the panels */
}

.meal-kit-info-left, .split-right {
  flex: 1;
}

.meal-kit-info-left, .split-right {
  max-width: 45%;
}

.order-meal-kit {
  padding: 20px;
}


.meal-kit-info p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 4px;

}

.order h1 {
  color: var(--green);
  padding-top: 0;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}
  


.meal {
  position: absolute;
  background-color: var(--white);
  height: 100vh;
  z-index: 5;
}

.container {
  position: relative;
  display: center;
  text-align: center;
}

.container h1{
  color: var(--green);
  margin: 0;
  padding: 10px;
}

.container h3{
  margin-left: 0;
  padding-left: 0;

}

.container button {
  width: 20%;
  margin: auto;
  display: block;
  background-color: var(--green);
  color: var(--white);
}

.container p {
  font-size: 20px;
}


.order-container {
  padding: 30px;
  position: relative;
  display: center;
  text-align: center;
}

.order-container h1{
  color: var(--green);
  margin: 0;
  padding: 10px;
}

.order-container h3{
  margin-left: 20px;
  padding-left: 0;

}

.order-container button {
  width: 20%;
  margin: auto;
  display: block;
  background-color: var(--green);
  color: var(--white);
}

.order-container p {
  margin-left: 20px;
  font-size: 20px;
}

.order-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
  padding-bottom: 0;

}

/* Hide the browser's default checkbox */
.order-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}