/* Base */
.checkout {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    background-color: white;
    position: relative;
    height: 100%;
    min-height: 350px;
    width: 100%;
    align-items: center; /* Center horizontally */
    padding-bottom: 200px; /* Significant space below checkout */
}

.checkout h1 {
    padding-top: 20px;
    margin-top: 0;
    color: #064D42;
}

.checkoutItem {
    display: flex;
    flex-direction: row; /* Aligns children horizontally */
    padding: 20px;
    flex-wrap: nowrap; /* Prevents row wrapping */
    width: 90%;
    max-width: 800px;
    height: 100%;
    max-height: 80px;
    background-color: #064D42;
    border-radius: 25px; /* Rounded corners */
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutItem img {
    height: 100%;
    max-height: 10%;
    width: 100%;
    max-width: 10%;
    margin-top: auto; /* Center vertically */
    margin-bottom: auto; /* Center vertically */
    margin-right: 30px;
}
.checkoutItem p {
    margin-top: auto; /* Center vertically */
    margin-bottom: auto; /* Center vertically */
    text-align: center;
    width: 200px;
    color: white;
    font-size: 1rem;
}

.checkoutItem .increment {
    display: flex; /* Allign children horizontally */
    background-color: #D9E5E3;
    height: 25px;
    width: 100px;
    margin: auto 25px auto 25px; /* Center with 25px on each side */
    border-radius: 10px; /* Round corners */
    border: none;
}

.checkoutItem .increment p {
    color: #064D42;
}

.checkoutItem .increment button{
    background-color: transparent;
    border:none;
}

.checkoutItem .remove {
    background-color: transparent;
    border: none;
    color: white;
    height:25px;
    margin-top: auto; /* Centers remove button vertically */
    margin-bottom: auto; /* Centers remove button vertically */
    margin-right: 30px;
}

.checkoutSubmit {
    padding: 5px 20px 5px 20px;
    background-color: #064D42;
    color: white;
    font-size: 1.5rem;
    border-radius: 25px; /* Rounded corners */
    border: none;
    margin-top: 20px;
    margin-bottom: 100px;
}

.buttons {
    display: flex;
    flex-direction: row; /* Places buttons in horizontal row */
    justify-content: space-around; /* Places the buttons evenly */
}

/* Mobile */
@media (max-width: 600px) {
    .checkout {
        padding-bottom: 200px;
    }

    .checkoutItem {
        display: flex;
        flex-direction: column; /* Stacks vertically */
        align-items: center; /* Center stacked items */
        max-height: fit-content;
    }

    .checkoutItem img {
        margin-right: 0;
        max-width: fit-content; /* Image resizes on mobile */
    }

    .checkoutItem .remove {
        margin-right: 0;
    }


    .checkout h1 {
        font-size: 1.5rem;  
    }

    .checkoutSubmit {
        font-size: 1.5rem;
    }

}