:root {
--lightGray: #D9E5E3;
}

p {
    text-align: center;
}

ul {
  color: black;
}

li  {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type=search] {
  text-align: center;
  padding: 6px;
  border: none;
  width: 100%;
  max-width: 560px;
  color: black;
  font-size: 1.5em;
  box-sizing: border-box;
}

.community-box [type=number] {
  text-align: left;
  padding: 6px;
  border: none;
  width: 50px;
  color: black;
  margin: 0px 10px 0px 10px;
}

input[type=text3] {
  text-align: left;
  padding: 6px;
  border: none;
  width: 80px;
  color: black;
  margin: 0px 10px 0px 10px;
}

.search-box {
  background-color: var(--lightGray);
  padding: 15px 30px;
  width: 90%;
  max-width: 600px;
  align-content: center;
  margin: 10px auto;
  border-radius: 15px;
  box-sizing: border-box;
}

.sub-box span {
    white-space: nowrap;
}

.dropdown {
  width: 180px;
}

.dropdown-button {
  margin-top: 15px;
  width: 180px;
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
  margin-bottom: 0.5em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
}

.dropdown-button-open {
  width: 180px;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.5em;
  border: none;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  overflow:hidden
}

.dropdown-option-button {
  padding: 0.2em;
  margin-top: 15px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 180px;
  font-size: 1.5em;
  border: none;
  margin-bottom: 0.5em;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0;  
  margin-bottom: 0;
  overflow:hidden;
  color: black;
}

.dropdown-content {
  margin-top: 15px;
  width: 180px;
  background-color: var(--gray);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  overflow: hidden;
}

.dropdown-option-button:hover {
  background-color: var(--gray);
}

.community-box {
  background-color: var(--lightGray);
  display: flex;
  width: 90%;
  margin: 10px auto 50px auto;
  border-radius: 15px;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.sub-box {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}

.sub-box h1 {
  margin: 0;
  text-align: center;
}


.option-button {
  background-color: #D9E5E3;
  border: none;
  border-radius: 10px;
  margin: 10px;
  color: #064D42;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

  @media (max-width: 600px) {
  p, ul {
    font-size: 1rem;
  }

  input[type=search] {
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }
}