footer {
    position: absolute;
    background-color: var(--lightGray);
    width: 100%;
  }
  
footer p {    
    color: var(--white);
}

.footer {
    display: flex !important;
    height:auto;
    align-items: flex-end;
}
  
.footer_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20% !important;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}
  
.footer img {
    margin-top: auto;
    margin-bottom: auto;
    width: 120px;
}

.footer h3 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    font-weight: 500;
}

.footer ul {
    line-height: 150%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 100px;
    list-style-type: none;
}
  
.footer a {
    font-weight: lighter;
}
  
footer p {
    width: 150px;
    font-size: 15px !important;
    color: var(--green);
    padding: 0;  
}

@media (max-width: 600px) {
    footer {
        position: relative; /* Changed from absolute to relative */
        background-color: var(--lightGray);
        width: 100%;
        padding: 20px 0;
      }
      
      footer p {
        color: var(--white);
      }
      
      .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
      }
      
      .footer img {
        width: 80px;
      }
      
      .footer h3 {
        text-align: center;
        margin: 10px 0;
        font-size: 16px;
      }
      
      .footer ul {
        line-height: 150%;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        margin: 0; /* Add margin */
        list-style-type: none;
      }

      footer p {
        color: var(--green);
      }
}