.meals-title {
    z-index: 10;
    position: relative;
    text-align: center;
}

.meals-title h2  {
    font-weight:800;
    font-size: 40px;
}

.meals-logo {
    z-index: 10;
    padding-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}

.meals-logo div {
    color: #064D42;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:  20px;
    width: 150px;
    height: 150px;
    padding: 15px 10px 15px;
    border-style: solid;
    border-color: #064D42;
    border-radius: 15%;  
}

i {
    font-size: 30px;
}

.meal-info {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #FDFDFD;
    background-color: #064D42;
    margin: 30px auto 50px auto;
    width: 85%;
    border-style: none;
    border-radius: 15px;
}

.meals-logo h3 {
    font-size: 2em;
}

.meal-info-header {
    display: flex;
    width: 300px;
    height: 65px;
    margin: -40px auto 15px auto;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-style: none;
    border-radius: 15px;
}

.meal-info-header button {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 140px;
    height: 50px;
    border-style: none;
    border-radius: 15px;
    font-size: large;
    font-weight: 600;
    color: #064D42;
    background-color: #D9E5E3;
    padding: 0px;
}

.meals-title p {
    font-size: 1em;
}



.meal-info p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #FDFDFD;
}

.meal-kit-ingredients h4 {
    margin-bottom: 5px;
}

.meal-kit-ingredients p {
    font-weight: lighter;
    margin-top: 0px;
}