.meals-title {
    z-index: 10;
    position: relative;
    text-align: center;
}

.meals-title h2  {
    font-weight:800;
    font-size: 40px;
}

.meals-logo {
    z-index: 10;
    padding-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}

.meals-logo button {
    color: #064D42;
    background-color:#FDFDFD;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:  20px 20px 30px 20px;
    width: 200px;
    height: 200px;
    padding: 15px 10px 15px;
    border-style: solid;
    border-color: #064D42;
    border-radius: 15%;  
}

.meals-logo img {
    height: 60%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.meals-logo .active {
    background-color: #064D42;
}

.meal-info {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #FDFDFD;
    background-color: #064D42;
    margin: 30px auto 50px auto;
    width: 70%;
    border-style: none;
    border-radius: 15px;
}

.meals-logo h3 {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.meals-logo .active h3 {
    color: #FDFDFD;
}

.meal-info-header {
    display: flex;
    width: 300px;
    height: 55px;
    margin: -40px auto 15px auto;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-style: none;
    border-radius: 15px;
}

.meal-info-header button {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 140px;
    height: 50px;
    border-style: none;
    border-radius: 15px;
    font-size: large;
    font-weight: 600;
    color: #064D42;
    background-color: #D9E5E3;
    padding: 0px;
}

.meal-info-header .active {
    background-color: #064D42;
    color: #FDFDFD;
}

.meals-title p {
    font-size: 1em;
}


.meal-info p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #FDFDFD;
    font-size: 20px;
    letter-spacing: 4px;

}

.meal-kit-ingredients h4 {
    margin-bottom: 5px;
    font-size: 2rem;
}

.meal-kit-ingredients p {
    font-weight: lighter;
    margin-top: 0px;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .meals-logo {
      padding-top: 100px;
      flex-direction: column;
    }
  
    .meals-logo button {
      width: 150px;
      height: 150px;
      margin: 10px;
    }
  
    .meals-logo img {
      height: 50%;
      width: 50%;
    }
  
    .meal-info {
      width: 90%;
      margin: 20px auto;
    }
  
    .meals-logo h3 {
      font-size: 1.5em;
    }
  
    .meal-info-header {
      width: 250px;
      height: 45px;
    }
  
    .meal-info-header button {
      width: 120px;
      height: 45px;
      font-size: medium;
    }
  
    .meals-title h2 {
      font-size: 30px;
    }
  
    .meals-title p {
      font-size: 0.9em;
    }
  
    .meal-info p {
      font-size: 18px;
      letter-spacing: 2px;
    }
  
    .meal-kit-ingredients h4 {
      font-size: 1.8rem;
    }
  
    .meal-kit-ingredients p {
      font-size: 18px;
    }
  }