.upload {
    position: relative;
    display: flex;
     justify-content: center;
    background-color: white;
    height: auto;
    padding-bottom: 50px;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
}

input[type="file"] {
    display: none;
}

.file_upload_container {
    border-style:solid;
    border-color: #064D42;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;

}

.file_upload_container p {
    line-height: 25px;
    font-size: 15px;
    text-align: center;
}

.file_upload_container label {
    margin: 10px;
    background-color: #D9E5E3;
    border-style: none;
    padding: 5px;
}

label {
    color: #064D42;
    font-weight: 400;
}

input[type="text"] {
    text-align: center;
    color: rgb(6, 77, 66,0.5);
    width: 80%;
    height:auto;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #064D42;
}

.dietary {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
}

.dietary .option {
    margin: 6px;
}

input.description {
    height: 150px;
}

.ingredients {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-style: solid;
    border-color: #064D42;
    border-width: 1px;
    border-radius: 20px;
}

.ingredient_list {
    display: flex;
    flex-direction: column;
}

.ingredient {
    display: flex;
    align-items: center;
    width: auto ;
    margin-left: auto;
    margin-right: auto;  
}

.ingredient label {
    width: 100px;
    text-align: center;
}

.ingredient button {
    background-color: #064D42;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 15px;
    padding: 5px;
    margin-left: 5px;
}

.add-ingredient {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width: auto;
}

.add-ingredient input {
    width: auto;
    margin-right: 0;
    height: 30px;
}

.add-ingredient button {
    background-color: #064D42;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 15px;
    padding: 5px;
    margin-left: 5px;
}

button {
    font-size: 20px;
    color: #064D42;
    margin: 20px;
    padding: 10px;
    border-style: none;
    border-radius: 20px;
    background-color:#D9E5E3;
}