/* Base */
.upload {
    position: relative;
    display: flex;
    flex-direction: column; /* Stack vertically */
    justify-content: center;
    background-color: white;
    height: auto; /* Keep aspect ratio */
    padding-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center stacked items */
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.header h1 {
    color: #004d3d;
    font-weight: bold;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 20px;
    margin-top: 0;

}

.header p {
    font-size: 1rem;
    width: 50%;
}

.upload h2 {
    font-size: 2rem;
    font-weight: 100;
    color: #004d3d;
    margin-top: 30px;
    margin-bottom: 20px;
}

.basicDetails {
    display: flex;
    flex-direction: column; /* Stack vertically */
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    background-color: #D9E5E3;
    border-radius: 15px; /* Rounded corners */

}

.basicDetails div {
    margin-bottom: 20px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    width: 60%;
}
.basicDetails label {
    margin-right: 10px;
}


.upload form {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 75%;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.upload form label {
    margin-left: 10px;
    font-size: 1rem;
}

.ingredientList {
    width: 50%;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    text-align: center;
    font-size: 1.5rem;
}

.ingredient {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border: dashed #004d3d 2px;
}

.removeIngredient {
    text-align: right;
    margin-right: 20px;
    width: 30%;
}

.removeIngredient button {
    width: 40px;
    border-radius: 10px; /* Rounded corners */
    background-color: #004d3d;
    color: white;
}

.addIngredient {
    text-align: center;
    padding: 10px;
    background-color: #D9E5E3;
    width: fit-content;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    border-radius: 15px; /* Rounded corners */
}

.addIngredient input {
    height: 25px;
    margin: 5px;
    border-radius: 2px; /* Rounded corners */
    border: none;
}

.addIngredient input[type="number"] {
    width: 10%;
}

.addIngredient select {
    height: 25px;
    margin: 5px;
}

.addIngredient button {
    margin-top: 10px;
    display: block;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    width: 60%;
    background-color: #004d3d;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    border-radius: 10px; /* Rounded corners */
}

.submit {
    width: 80%;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    text-align: center;
    margin-top: 40px;
}

.submit button {
    width: 80%;
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px; /* Rounded corners */
    background-color: #004d3d;
    color: white;
    border: solid #004d3d 2px;
}

.error {
    color: red;
}

.success {
    color: green;
}

/* Mobile */
@media (max-width: 600px) {
    .header p {
        width: 80%;
        font-size: 0.9rem;
    }

    .upload h2 {
        font-size: 1.5rem;
    }

    .upload h1 {
        font-size: 1.5rem;
    }

    .basicDetails {
        width: 90%;
        margin-bottom: 0px;
    }

    .basicDetails div {
        width: 80%;
    }

    .basicDetails input {
        width: 100%;
    }

    
    .basicDetails p {
        font-size: 1em;
    }

    .upload form {
        width: 90%;
    }

    .removeIngredient {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .addIngredient {
        width: 90%;
    }

    .addIngredient input[type="number"] {
        width: 20%;
    }

    .submit button {
        width: 100%;
        font-size: 1.5rem;
    }
}