:root {
  --green: #0c6649
}

body {
  margin: 0;
}

p {
  color: black;
}

div {
  margin: 0;
  width: 100%;
}

nav {
  z-index: 999;
  background: transparent;
  position: relative;
  width: 100%;
}

a.active {
  font-weight: bold;
  background-color: transparent;
}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  background-color: transparent;
}

#projects p {
  font-size: 1.2em;
  text-align: center;
}

nav ul li { /* all elements in nav */
  padding-top: 25px;
  padding-left: 0px;
  font-size: 1.5em;
}

.unpadded {
  padding-top: 15px;
}

nav ul li:last-child {
  margin-left: auto; /* last item on right */
  margin-right: 20px;
}

nav li a {    
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column; /* Stack items */
    align-items: center;
  }

  nav li {
    width: 100%;
  }
}

.welcome {
  width: 100%;

  position: absolute;
  top: 0px;
}

.logo {
  height: 80px;
  width: auto;
}

.image-placeholder {
  height: 100vh;
}

footer {
  background-color:#5004f3;
}

footer p {    
  color: white;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  padding: 30px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: var(--green);
}

.title {
  position: absolute;
  transform: translate(0, -130%);
  color: white;
}

.title h1 {
  font-weight: normal;
  text-align: left;
}

.title b {
  font-size: 1.3em;
}

.register-button {
  margin-left: 30px;
  font-size: 2em;
  display: block;
  float: left;
  border: none;
  border-radius: 15px;
  margin-bottom: 0.5em;
  display: block;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--green);
  color: white;
  text-decoration: none;

}

.explore-button {
  font-size: 2em;
  border: none;
  border-radius: 15px;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: 37%;
  margin-right: 37%;
  display: block;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--green);
  color: white;
  text-decoration: none;
}

.login-button {  
  margin-left: 30px;
  font-size: 2em;
  background-color: transparent;
  display: block;
  float: left;
  border: solid 1px;
  border-radius: 15px;
  margin-bottom: 0.5em;
  display: block;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
  text-decoration: none;
}

.discover-button {
  margin-left: 30px;
  font-size: 2em;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  margin-bottom: 0.5em;
  padding: 0.2em;
  display: block;
  float: right;
  margin-right: 30px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.center {
  margin-top: 30px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

section {
  background-color: white;
  margin: 0;
  padding-bottom: 50px;
}

.imgColumn {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 5px;
}

.imgColumn .image {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  border: 1px solid #ccc;
}

.imgColumn:hover .image {
  opacity: 0.3;
}

.imgColumn:hover .middle {
  opacity: 1;
}

  .cards {
    position: relative; 
    display: grid;
    text-align:center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 100px;
    margin: auto;
    width: 80%;
  }

.card {
  position: relative;
  font-size: 1em;
  border-radius: 15px;
  background-color: var(--green);
}

.card img {
  width: 90%;
  margin: 5%;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.slideshow-content {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.slideshow-item {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.slideshow-button.left {
  left: 10px;
}

.slideshow-button.right {
  right: 10px;
}